<div class="row">
	<div class="col-sm-12" >
		<div class="page-header">
			<h3><%= @episode.number %>.<%= @episode.title %></h3>
			<small><%= link_to "Retour", Episode, method: :get %></small>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12" >
		<ul class="list-unstyled">
			<% @images.each do |i| %>
				<li class="col-sm-4 col-md-3"> 
					<div class="thumbnail">
						<%= image_tag("#{i.url}", alt: "Image" ) %>
						<div class="caption">
							<div class="suppr_container">
								<%= link_to  i, method: :delete , class: 'suppr_im' do %>
		                        	<span  class='glyphicon glyphicon-remove'></span>
		                        <% end %>
	                        </div>
							<small><%= "#{i.name}" %></small>
							<h5><%= "#{i.author} :  #{i.msg}" %></h5>
						</div>
					</div>
				</li>
			<% end -%>
		</ul>
	</div>
</div>